.Buscador{
	position: relative;
	margin-right: 5%;
	display: block;
	right: 0px;
	top: -15px;

}
.buscadorinput{
	border-radius: 8px;
	border-style: solid;
	border-color: #ffff;
	box-shadow: 0 0 5px #fff,
              0 0 1rem #fff,
              0 0 5px #00cbe6,
              0 0 5px #00cbe6,
              0 0 1rem #00cbe6,
              inset 0 0 7px #00cbe6;
  height: 20px;
  padding: 5px;


}
.searchbutton{
	position: absolute;
	background-color: transparent;
	border-style: none;
	margin-left: -25px;
	top: 7px;
	padding: 0px;
	cursor: pointer;
	filter: brightness(1.2);
-webkit-filter: drop-shadow(5px 5px 20px #00cbe6);



}